<!DOCTYPE html>
<html ng-app='light' lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap2.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-extend.css" />
	</head>
	<body>
	 	<lt-nav-bar></lt-nav-bar>
	 	<div class="container-fluid" ng-view style="padding-top:50px"></div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls-0.3.0.min.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
		<script type="text/javascript" src="javascripts/controllers.js"></script>
		<script type="text/javascript" src="javascripts/services.js"></script>
		<script type="text/javascript" src="javascripts/directives.js"></script>
	</body>
</html>