<html ng-app='light'>
	<head>

	</head>
	<body>
		<lt-auth></lt-auth>
		<div ng-controller="ListCtrl">
			Hello {{name}}
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
		<script type="text/javascript" src="/javascripts/app.js"></script>
		<script type="text/javascript" src="/javascripts/services.js"></script>
		<script type="text/javascript" src="/javascripts/directives.js"></script>

	</body>
</html>