<div class="row-fluid">
	<div class="span12">
		<h1>Welcome to My Blog</h1>
	</div>
</div>
<div class="row-fluid" ng-repeat="blog in blogs">
	<div class="span12" >
		<div class="row-fluid">
			<div class="span12">
                <h3>
                    <a ng-show="user.isLoggedIn" ng-href="/#/edit/{{ blog.title | underscore }}">{{blog.title}}</a>
                    <div ng-hide="user.isLoggedIn">{{blog.title}}</div>
                </h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div ng-bind-html-unsafe="blog.body"></div>
			</div>
		</div>
	</div>
</div>