<div class="row-fluid">
	<div class="span12">
		<h2>{{page.title}}</h2>
		<div class="alert alert-success" ng-show="blog.showSuccessMsg">
			Saved new entry '<strong>{{blog.title}}</strong>'
			<button class="close" ng-click="blog.showSuccessMsg = false">x</button>
		</div>
		<div class="alert alert-error" ng-show="blog.showErrorMsg">
			Unable to save new entry!
            <button class="close" ng-click="blog.showErrorMsg = false">x</button>
		</div>
		<div class="row-fluid">
			<div class="span6 well">
				<form ng-submit="save()">
                    <input type="text" ng-model="blog.title" placeholder="Title" class="input-xxlarge" required/>
                    <textarea ng-model="blog.body" placeholder="Blog Entry" class="input-xxlarge" rows="10" required></textarea>
					<div class="control-group">
						<div class="controls">
							<button class="btn btn-primary">Submit</button>
                            <button class="btn btn-danger" ng-click="delete(blog.title)">Delete</button>
						</div>
					</div>
				</form>
			</div>
			<div class="span6 well markdown-well" style="vertical-align:top">
				<h3>{{blog.title}}</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <lt-markdown>{{blog.body}}</lt-markdown>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>